*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: Silk-medium;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:antialiased;
}

@font-face {
  font-family: Silk-medium;
  src: url(font/SilkSerif-Medium.ttf);
}

@font-face {
  font-family: Silk-regular;
  src: url(font/SilkSerif-Regular.ttf);
}

body{
  font-size:15px;
  margin: 0;
  padding:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#minimap {
  width: 250px;
  height: 120px;
  border: 0.09em solid black;
  background-color: white;
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  background-image:url('img/background.jpg');
  background-size: contain;
}

#minimap__cursor {
  outline: 0.09em solid black;
  position: relative;
}

.tiles{
  opacity: 1;
  height:417px;
  width:500px;
  float:left;
  box-sizing: border-box;
  object-fit: contain;
/*  transition: opacity 150ms ease-in;*/
  pointer-events: none;
}

#controlarea{
  top:0;
  bottom:0;
  right:0;
  left:0;
  position: fixed;
}



/* ------ Slider -------  */

.slider {
  float:right;
  margin-top:9px;
  margin-right:40px;
  z-index: 2;
  -webkit-appearance: none;
  width: 130px;
  height: 0.09em;
  background: black;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:0.09em;
  height: 12px;
  background:black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
  


/* ------ Layers -------  */

.layer-wrapper{
  position: static;
  width: 7000px;
  height: 5000px;
}

#layer1{
  top:0;
  left:0;
  z-index: 0;
  width: 7000px;
  height: 5000px;
  position: absolute;
  pointer-events: none;
}

#layer2{
  top:0;
  left:0;
  z-index: 0;
  width: 7000px;
  height: 5000px;
  position: absolute;
  pointer-events: none;
}

img{
  height:417px;
  width:500px;
  object-fit: cover;
  overflow: hidden;
}

/* ------ Meta Data -------  */
.selectionText{
  font-size:12px;
  position: fixed;
  opacity:0;
  z-index: 9999;
  transition: all 0.5s;
  font-family: Silk-regular;
  line-height: 15px;
}

.column-2{
  bottom: 20px;
  margin-left:130px;
  width: 400px;
  position: fixed;
}

.column-1{
  left:20px;
  bottom:20px;
  position: fixed;
  width: 130px;
  font-family: Silk-regular;
}

.compression{
  top:20px;
  left:20px;
  z-index: 9999;
  position: fixed;
  height: 30px;
  width: 130px;
  font-family: Silk-regular;
  line-height: 20px;
}


/* ------ Selection Menu -------  */

.custom-select-wrapper {
  top: 20px;
  line-height: 20px;
  width: 100px;
  height: 100px;
  height: 20px;
  position: fixed;
  z-index: 9999;
  user-select: none;
  width: 300px;
  margin-left:130px;
  font-family: Silk-regular;
}

.custom-select {
  display: flex;
  flex-direction: column;
  height: 60px;
  line-height: 20px;
  border-style: solid;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-style: solid;
  color:black;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select__trigger .custom-option{
  color:black;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  color:;
}

.custom-option {
  position: relative;
  display: block;
  color: grey;
  cursor: pointer;
  transition: all 0.5s;
  width: 300px;
}

.custom-option:hover {
  cursor: pointer;
  color:black;
}

.custom-option.selected {
  color: black;
}

/* ------ Arrow -------  */
.arrow {
  margin-left:-10px;
  position: relative;
  height: 12px;
  width: 12px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.05em;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -4px;
  transform: rotate(45deg);
  background-color: black;
}

.arrow::after {
  left: 4px;
  transform: rotate(-45deg);
  background-color: black;
}

.open .arrow::before {
  left: -4px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 4px;
  transform: rotate(45deg);
}

#arrowToggle{
  position: absolute;
  right:0px;
  height:100%;
  width:20px;
  cursor: pointer;
}
