*,
*:after,
*:before {
  box-sizing: border-box;
}

body{
  font-size:15px;
  margin: 0;
  padding:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tiles{
  opacity: 1;
  height:417px;
  width:500px;
  float:left;
  box-sizing: border-box;
  object-fit: contain;
/*  transition: opacity 150ms ease-in;*/
  pointer-events: none;
  border:1px solid black; 
}

#controlarea{
  top:0;
  bottom:0;
  right:0;
  left:0;
  position: fixed;
}

.slider{
  width: 100px;
  margin-left:10px;
}

#layer1{
  top:0;
  left:0;
  z-index: 0;
  width: 7000px;
  height: 5000px;
  position: absolute;
  pointer-events: none;
}

.layer-wrapper{
  position: static;
  width: 7000px;
  height: 5000px;
}

#layer2{
  top:0;
  left:0;
  z-index: 0;
  width: 7000px;
  height: 5000px;
  position: absolute;
  pointer-events: none;
}

img{
  height:417px;
  width:500px;
  object-fit: cover;
  overflow: hidden;
}

.selectionText{
  font-size:12px;
  position: fixed;
  left:0;
  bottom:0;
  width:180px;
  opacity:0;
  z-index: 9999;
  transition: all 0.5s;
}

.column-2{
  width: 400px;
  margin-left:180px;
}

.column-1{
  position: fixed;
  width: 180px;
}

.compression{
  z-index: 9999;
  position: fixed;
  height: 30px;
  background-color: blue;
  width: 180px
}

.custom-select-wrapper {
  height: 30px;
  position: fixed;
  z-index: 9998;
  user-select: none;
  width: 400px;
  margin-left:180px;
  background-color: red;
}

.custom-select {
  display: flex;
  flex-direction: column;
  height: 30px;
  border-style: solid;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  cursor: pointer;
  border-style: solid;
  color:black;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  background-color: yellow;
}

.custom-select__trigger .custom-option{
  color:black;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  color:;
}

.custom-option {
  position: relative;
  display: block;
  color: grey;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-option:hover {
  cursor: pointer;
  color:black;
}

.custom-option.selected {
  color: black;
}






/*arrow*/

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 2px;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -3px;
  transform: rotate(45deg);
  background-color: black;
}

.arrow::after {
  left: 3px;
  transform: rotate(-45deg);
  background-color: black;
}

.open .arrow::before {
  left: -3px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 3px;
  transform: rotate(45deg);
}

#arrowToggle{
  position: absolute;
  right:0px;
  height:100%;
  width:80px;
  cursor: pointer;
}
